<html class="h-full bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COT-Summarize</title>
    <!-- Favicon for all browsers -->
    <link rel="icon" href="{{ url_for('static', filename='images/text.jpg') }}" type="image/x-icon">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="h-full">

    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='images/TS.png') }}" class="w-10 h-10 rounded-full shadow-lg" alt="Round Icon Image">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="{{ url_for('home') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Home</a>
                            <a href="{{ url_for('summarize') }}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Text Summarizer</a>
                            <a href="{{ url_for('sentiment') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Sentiment Analysis</a>
                            <a href="{{ url_for('keywords') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Keyword Extraction</a>
                            <a href="{{ url_for('paraphrase') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Text Paraphrasing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="md:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="{{ url_for('home') }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white" aria-current="page">Home</a>
                <a href="{{ url_for('summarize') }}" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">Text Summarizer</a>
                <a href="{{ url_for('sentiment') }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Sentiment Analysis</a>
                <a href="{{ url_for('keywords') }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Keyword Extraction</a>
                <a href="{{ url_for('paraphrase') }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Text Paraphrasing</a>
            </div>
        </div>
    </nav>

    <header class="bg-gray-200 shadow">
        <div class="mx-auto max-w-lg py-4 text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900">Text Summarizer</h1>
        </div>
    </header>

    <section class="bg-white">

        <div class="gap-8 items-center ml-20 mr-20 max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16">
            
            <form method="POST">
                <div class="space-y-12 w-full h-full">
                    <div class="col-span-full">
                        <div class="flex items-center justify-between">
                            <!-- Original Text Label -->
                            <label for="about" class="block text-2xl font-medium leading-20 text-gray-700">
                                Original Text
                            </label>
                            <!-- Number of Sentences Label and Input -->
                            <div class="flex items-center space-x-2">
                                <label for="num_sentences" class="text-lg text-gray-700">
                                    Sentence count in Summary:
                                </label>
                                <input type="number" name="num_sentences" id="num_sentences" min="1" max="10" value="3" class="w-10 h-8 p-1 text-center border border-gray-500 rounded-lg focus:outline-none focus:border-blue-500">
                            </div>
                        </div>
                        <div class="mt-2">
                            {% if summary %}
                                <textarea id="text" name="text" rows="13" class="block w-full p-2 border-2 border-gray-500 rounded-lg py-1.5 text-gray-700 shadow-sm placeholder:text-gray-400 focus:border-blue-500 focus:outline-none resize-none leading-tight" placeholder="Enter or paste your text here and press &quot;summarize.&quot;">{{ text }}</textarea>
                            {% else %}
                                <textarea id="text" name="text" rows="13" class="block w-full p-2 border-2 border-gray-500 rounded-lg py-1.5 text-gray-700 shadow-sm placeholder:text-gray-400 focus:border-blue-500 focus:outline-none resize-none leading-tight" placeholder="Enter or paste your text here and press &quot;summarize.&quot;"></textarea>
                            {% endif %}
                        </div>
                        <button type="submit" value="Summarize" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full mt-4">
                            Summarize
                        </button>
                    </div>
                </div>
            </form>

            <form>
                <div class="space-y-12 w-full h-full">
                    <div class="col-span-full">
                        <label for="summarized" class="block text-2xl font-medium leading-20 text-gray-700">summarized Text</label>
                        <div class="mt-2">
                            {% if summary %}
                                <textarea id="summarized" name="summarized" rows="13" class="block w-full p-2 border-2 border-gray-500 rounded-lg py-1.5 text-gray-700 shadow-sm placeholder:text-gray-400 focus:border-blue-500 focus:outline-none resize-none leading-tight" placeholder="summarized Texted">{{ summary }}</textarea>
                            {% else %}
                                <textarea id="summarized" name="summarized" rows="13" class="block w-full p-2 border-2 border-gray-500 rounded-lg py-1.5 text-gray-700 shadow-sm placeholder:text-gray-400 focus:border-blue-500 focus:outline-none resize-none leading-tight" placeholder="summarized Texted"></textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </section>

</body>

<footer class="bg-gray-900 shadow">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-4">
        <div class="sm:flex sm:items-center sm:justify-between text-white ">
            <a href="{{ url_for('home') }}" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="{{ url_for('static', filename='images/text.jpg') }}" class="w-16 h-16 rounded-full shadow-lg" alt="Round Icon Image">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Content Optimization Tool</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0">
                <li>
                    <a href="{{ url_for('home') }}" class="hover:underline mx-5 me-4 md:me-6">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('summarize') }}" class="hover:underline mx-5 me-4 md:me-6">Text Summarizer</a>
                </li>
                <li>
                    <a href="{{ url_for('sentiment') }}" class="hover:underline mx-5 me-4 md:me-6">Sentiment Analysis</a>
                </li>
                <li>
                    <a href="{{ url_for('keywords') }}" class="hover:underline mx-5 me-4 md:me-6">Keyword Extraction</a>
                </li>
                <li>
                  <a href="{{ url_for('paraphrase') }}" class="hover:underline mx-5 me-4 md:me-6">Text Paraphrasing</a>
              </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-5" />
        <span class="block text-sm text-white sm:text-center dark:text-gray-400 my-2 ">Developed by <a href="#" class="hover:underline">Pragatheswaran S</a></span>
    </div>
</footer>

</html>